<div id="contenedor">

    <!-- LOGIN -->
  <h1 id="titlecontenedor">Login</h1>

    <form id="formLogin">
      <!-- E-mail -->
    <label for="E-mail">Email</label>
      <input type="text" placeholder="Enter E-mail" id="email" autocomplete="off">
      <!-- password-->
      <label for="password">Password</label>
      <input type="password" placeholder="Enter password" id="pass" autocomplete="off">

      <input type="submit" value="Log In" id="btnlog">

    <a href="http://localhost:8080/register" id="btnreg">Register</a><br>

      <a href="/api/sessions/git">Login with Git</a><br>

      <a href="/forgot">Forgot your password?</a>


  </div>

<script src="/public/js/login.js" type="application/javascript"></script>